{% extends 'base_site.html' %}

{% block title %}Index (Backbone.js){% endblock %}

{% block content %}

    <div id="clues-view">
        <div class="clues-list-controls">
            <span id="right-count"></span>
            &nbsp;
            <span class="pull-right">
                <label>Search: <input type="text" id="searchText" /></label>
            </span>
        </div>
        <div id="clues-list" class="list-group"></div>

        <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <h3>Modal Body</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
          </div>
        </div>

    </div>

    <script id="clueTemplate" type="text/template">
        <div class="list-group-item">
            <a href="#" class="clue list-group-item">
                <h4 class="list-group-item-heading"><%= category %></h4>
                <p class="list-group-item-text"><%= question %></p>
                <p class="answer list-group-item-text"></p>
            </a>
            <div class="clue-controls">
                <label>? <input class="guess-text" placeholder="Your guess..."/></label>
                <span class="results list-group-item-text"></span>&nbsp;
                <button type="button" class="check-btn btn btn-xs btn-primary">check</button>&nbsp;
                <button type="button" class="tellme-btn btn btn-xs btn-primary">tell me</button>
            </div>
        </div>
    </script>


{% endblock %}

{% load staticfiles %}

{% block extrajs %}
    <!-- backbone, tastypie, underscore -->
    <script src="{% static 'lib/underscore.js' %}"></script>
    <script src="{% static 'lib/backbone.js' %}"></script>
    <script src="{% static 'lib/backbone-tastypie.js' %}"></script>

    <script src="{% static 'js/backbone/models/clue.js' %}"></script>
    <script src="{% static 'js/backbone/collections/clues.js' %}"></script>
    <script src="{% static 'js/backbone/views/clue.js' %}"></script>
    <script src="{% static 'js/backbone/views/clues.js' %}"></script>
    <script src="{% static 'js/backbone/app.js' %}"></script>

{% endblock extrajs %}