{% extends "base_site.html" %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static "css/signin.css" %}"/>

    <form id="login_form" class="form-signin" role="form" method="post"
          action="{% url 'auth_login' %}">

        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        {#<input type="email" class="form-control" placeholder="Email address" required autofocus>#}
        <input type="text" class="form-control" name="username" required autofocus/>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>


    <p>Not  a member? <a href="{% url 'registration_register' %}">Register</a>!</p>


{% endblock %}