{% extends "base_site.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
    <h2>Registration</h2>

    {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="{% url 'login' %}">Try your new login now...</a>
        <br/>
    {% else %}
        <form id="user_form" method="post" role="form" action="{% url 'register' %}">
            {% csrf_token %}

            <input type="text" class="form-control" id="id_username" name="username" placeholder="Username" required
                   autofocus/>

            <p class="text-muted">30 characters or fewer. Letters, numbers and @/./+/-/_ characters</p>
            <input type="password" class="form-control" id="id_password" name="password" placeholder="Password"
                   required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>


        {#{{ form.non_field_errors }}#}
        {#{{ form.username.errors }}#}

        {#    <form>#}
        {#        {{ user_form.as_p }}#}
        {#        {{ profile_form.as_p }}#}
        {#        <input type="submit" name="submit" value="Register" />#}
        {#    </form>#}


    {% endif %}
{% endblock %}

