{% extends "base_site.html" %}


{% block content %}



    {% include "snips/../snips/page_header.html" with header_text="Add Answer" %}


    <div>
    <h3>{{ question }}</h3>
    </div>


    <form action="{% url 'answer_add' question.id %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
{##}
{#        {% for hidden in form.hidden_fields %}#}
{#            {{ hidden }}#}
{#        {% endfor %}#}
{##}
{#        {% for field in form.visible_fields %}#}
{#            <div class="fieldWrapper">#}
{#                {{ field.errors }}#}
{#                {{ field.label_tag }} {{ field }}#}
{#            </div>#}
{#        {% endfor %}#}

        {{ form.as_p }}

        <p>
            <a href="{% url 'quiz_edit' question.quiz.id %}">
                <button type="button" name="cancel" class="btn btn-danger">Cancel</button>
            </a>
            <button type="submit" name="update" class="btn btn-success">Add this answer</button>
        </p>


    </form>

{% endblock %}



