{% extends 'base_site.html' %}
{% load staticfiles %}

{% block title %}Home (Ember.js){% endblock %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static 'css/ember/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/ember/normalize.css' %}">
{% endblock extra-css %}

{% block content %}

 <script type="text/x-handlebars">
    {% verbatim %}

    <h2>Welcome to Ember.js</h2>

    {{outlet}}
    {% endverbatim %}
  </script>

  <script type="text/x-handlebars" id="index">
    {% verbatim %}
    <ul>
    {{#each item in model}}
      <li>{{item}}</li>
    {{/each}}
    </ul>
    {% endverbatim %}
  </script>


{% endblock %}


{% block extrajs %}

    <script src="{% static 'lib/handlebars.js' %}"></script>
    <script src="{% static 'lib/ember.js' %}"></script>

    <script src="{% static 'js/ember/app.js' %}"></script>

{% endblock extrajs %}