{% extends 'base_site.html' %}
{% load staticfiles %}

{% block title %}Home (Ember.js){% endblock %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static 'css/ember/style.css' %}">
{% endblock extra-css %}

{% block content %}
    <script type="text/x-handlebars" data-template-name="todos">
    <section id="todoapp">
      <header id="header">
        <h1>todos</h1>
        <input type="text" id="new-todo" placeholder="What needs to be done?" />
      </header>

      <section id="main">
        <ul id="todo-list">
          <li class="completed">
            <input type="checkbox" class="toggle">
            <label>Learn Ember.js</label><button class="destroy"></button>
          </li>
          <li>
            <input type="checkbox" class="toggle">
            <label>...</label><button class="destroy"></button>
          </li>
          <li>
            <input type="checkbox" class="toggle">
            <label>Profit!</label><button class="destroy"></button>
          </li>
        </ul>

        <input type="checkbox" id="toggle-all">
      </section>

      <footer id="footer">
        <span id="todo-count">
          <strong>2</strong> todos left
        </span>
        <ul id="filters">
          <li>
            <a href="all" class="selected">All</a>
          </li>
          <li>
            <a href="active">Active</a>
          </li>
          <li>
            <a href="completed">Completed</a>
          </li>
        </ul>

        <button id="clear-completed">
          Clear completed (1)
        </button>
      </footer>
    </section>

    <footer id="info">
      <p>Double-click to edit a todo</p>
    </footer>
    </script>


{% endblock %}


{% block extrajs %}

    <script src="{% static 'lib/handlebars.js' %}"></script>
    <script src="{% static 'lib/ember.js' %}"></script>
    <script src="{% static 'lib/ember-data.js' %}"></script>

    <script src="{% static 'js/ember/application.js' %}"></script>
    <script src="{% static 'js/ember/router.js' %}"></script>
    <script src="{% static 'js/ember/models/todo.js' %}"></script>

{% endblock extrajs %}