{% extends "base_site.html" %}


{% block content %}

    <div class="page-header">
        <h1>Add Question</h1>
    </div>


    {% include "snips/../snips/quiz_header.html" with quiz=quiz %}



    <form action="{% url 'question_add' quiz.id %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {{ form.id }}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="fieldWrapper">
            {{ form.text.errors }}
            <label for="id_text">Question Text:</label>
            {{ form.text }}
        </div>

            <p>
            <a href="{% url 'quiz_edit' quiz.id %}">
                <button type="button" name="cancel" class="btn btn-danger">Cancel</button>
            </a>
            <button type="submit" name="update" class="btn btn-success">Add this question</button>
        </p>


    </form>

{% endblock %}



