{% extends "base_site.html" %}


{% block content %}

    {#    {% include "snips/../snips/page_header.html" with header_text="Edit Answers" %}#}
    {##}
    {#    {% include "snips/../snips/quiz_header.html" with quiz=question.quiz %}#}

    <div>
        {#        <h3>{{ question }}</h3>#}
        <form id="q_form" method="post" action="">
{#            {{ q_form }}#}

       {{ q_form.non_field_errors }}

        {{ q_form.id }}

        {% for hidden in q_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="fieldWrapper">
            {{ q_form.text.errors }}
            <label for="id_text">Question Text</label>
            <div>{{ q_form.text }}</div>
        </div>

        <div class="fieldWrapper">
            {{ q_form.ans_type.errors }}
            <label for="id_answer_type">Answer Type</label>
            {{ q_form.ans_type }}
        </div>
        </form>
    </div>

    <br/>
    <br/>


    {#    <form id="form1" method="post" action="{% url 'question_edit' question.id %}">#}
    {#        {% csrf_token %}#}
    {#        {{ formset.management_form }}#}
    {#        {% for form in formset %}#}
    {#            {{ form.id }}#}
    {#            <ul>#}
    {#                <li>{{ form.text }}</li>#}
    {#                {% if formset.can_delete %}#}
    {#                    <li>{{ form.DELETE }}</li>#}
    {#                {% endif %}#}
    {#            </ul>#}
    {#        {% endfor %}#}
    {#    </form>#}

    {#        {% include "snips/../snips/form_actions.html" with cancel_what="these changes" back_to_url=back_to_url submit_what="these answers" %}#}
    {#        <br/>#}
    {#        {% include "snips/../snips/add_delete.html" with add_what="another answer" add_url=add_url back_to_url=back_to_url %}#}



    <form id="form1" method="post" action="{% url 'question_edit' question.id %}">
        {% csrf_token %}
        {{  formset.management_form }}

        <table>
            <caption style="text-align: left; font-weight: bold">Answers</caption>
            {% for form in formset %}
                {{ form }}
                {#                {{ form.id }}#}
                {#                {{ form.as_p }}#}
                {#                {{ form.text }}#}
            {% endfor %}
        </table>
    </form>


    {% load static %}
    <script src="{% static "js/form_change.js" %}"></script>

{% endblock %}



