
{% extends "base.html" %}

{% load url from future %}

{% load i18n %}

{% block title %} {{ SITE_NAME }}{% endblock %}

{% block branding %}
<h1 id="site-name"> {{ SITE_NAME }}</h1>
{% endblock %}

{% block nav-global %}
    <!-- Fixed navbar -->
{#    {% include "snips/navbar.html" %}#}

        <p>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'clues-paged' 1 %}" >Clues</a>
            <a href="{% url 'cats-paged' 1 %}">Categories</a>
        </p>

{% endblock %}


{% block messages %}
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
    {% endfor %}</ul>
    {% endif %}
{% endblock messages %}