{% extends 'questapp.html' %}

{% load url from future %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    <div class="container">
        <p>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'clues-paged' 1 %}" >Clues</a>
            <a href="{% url 'cats-paged' 1 %}">Categories</a>
        </p>

        <h1>{% block title %}(no title){% endblock %}</h1>

        {% bootstrap_messages %}

        {% block content %}(no content){% endblock %}
    </div>
{% endblock %}