{% extends 'base_site.html' %}

{% block title %}bbtest{% endblock %}

{% block content %}

    <div id="clues" class="list-group">
    </div>

    <script id="clueTemplate" type="text/template">

        <a id="<%= id %>" href="#" class="clue list-group-item">
            <h4 class="list-group-item-heading"><%= category %></h4>
            <p class="list-group-item-text"><%= question %></p>
            <p id="ans_<%= id %>" class="answer list-group-item-text"><% answer %></p>
        </a>



    </script>

{% endblock %}

{% load staticfiles %}

{% block extrajs %}
    <!-- backbone, tastypie, underscore -->
    <script src="{% static 'js/lib/underscore-min.js' %}"></script>
    <script src="{% static 'js/lib/backbone.js' %}"></script>
    <script src="{% static 'js/lib/backbone-tastypie.js' %}"></script>

    <script src="{% static 'js/models/clue.js' %}"></script>
    <script src="{% static 'js/collections/clues.js' %}"></script>
    <script src="{% static 'js/views/clue.js' %}"></script>
    <script src="{% static 'js/views/clues.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

{#    <script type="text/javascript">#}
{#    $(document).ready(function() {#}
{#        $('.clue').click(function(e){#}
{#            $(this).children('.answer').toggle();#}
{#            if ($(this).hasClass("active")) {#}
{#                $(this).removeClass("active");#}
{#            } else {#}
{#                $(this).addClass("active");#}
{#            }#}
{#            e.preventDefault(); // dont want href action#}
{#        })#}
{#    });#}
{#    </script>#}

{% endblock extrajs %}