{% extends 'base_questapp.html' %}

{% block title %}Clues{% endblock %}

{% block content %}

    {% if clue_list %}
        <ul>
            {% for clue in clue_list %}
                <li style="list-style: none">
                    <a href="{% url 'clue-detail' clue.pk %}">{{ clue.pk }}</a>
                    : {{ clue.question }}
                </li>
            {% endfor %}
        </ul>
        {% if is_paginated %}
            <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'clues-paged' page_obj.previous_page_number %}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'clues-paged' page_obj.next_page_number %}">next</a>
                {% endif %}
            </span>
            </div>
        {% endif %}


    {% else %}
        <p>No clues found.</p>
    {% endif %}

{% endblock %}