{% if clue_list %}
    {# Want a scrollable panel? Use <div style="height: 400px;overflow: auto"> #}
    <div class="clue-list">
        {% for clue in clue_list %}
            <div class="clue">
                <span class="category">
                    {% if list_type == "clues-by-cat" %}
                        {# Dont link the cats, if its already by cat. #}
                        {# {{ clue.category.name }} #}
                    {% else %}
{#                        <a href="{% url 'clues-by-cat' clue.category.id %}">{{ clue.category.name }}</a>#}
                        {{ clue.category.name }}
                    {% endif %}
                </span>
                <div class="question"><p>{{ clue.question }}</p>
                    <div class="show-answer btn btn-xs btn-default">
                        Answer
                        <span class="answer">: {{ clue.answer }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% else %}
    <p>None available.</p>
{% endif %}
