{% extends 'base_site.html' %}
{% load staticfiles %}

{% block title %}Clues{% endblock %}

{% block content %}


    <input id="hidden-userid" type="hidden"
           value="{% if user.is_authenticated %}{{ user.id }} {% else %} 0 {% endif %}">


    {% include "toolbar.html" %}


    <div id="clues-view">

        <input id="answer_tracking" type="hidden" value="{{ answer_tracking }}">

        <h2> {{ cat }}</h2>

        {% for clue in clues %}

            <div class="list-group-item">
                <a href="#" class="clue list-group-item">
                    <p class="list-group-item-text"> {{ clue.question }}</p>
                    <p class="answer list-group-item-text"></p>
                </a>
                <div class="clue-controls">
                    <input class="hidden-answer" type="hidden" value="{{ clue.answer }}">
                    <input class="hidden-questionid" type="hidden" value="{{ clue.pk }}">
                    <input class="guess-text" placeholder="answer..."/>
                    <span class="results list-group-item-text"></span>
                    &nbsp;
{#                    <button type="button" class="guess-btn btn btn-xs btn-success">that&apos;s my guess</button> &nbsp;&nbsp;&nbsp;#}
                    <button type="button" class="tellme-btn btn btn-xs btn-warning">I give up, tell me</button>

                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}


{% block extrajs %}
    {{ block.super }}
    <script src="{% static 'js/clues.js' %}"></script>
    <script src="{% static 'js/timer.js' %}"></script>

{% endblock extrajs %}