{% extends "base_site.html" %}

{% block title %}Test{% endblock %}

{% block content %}

    <button id="test-btn" type="button" class="btn btn-default">Test</button>


{% endblock %}


{% block extrajs %}

    {{ block.super }}

    <script>
        function postUserLog(data){
            var json_data =  JSON.stringify(data);
            var request = $.ajax({
                url: '/userlog/post',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: json_data,
                dataType: 'text',
                success: function(result) {
                    console.log("Posted " + json_data + ", received " + request['statusText']);
                }
            });
        }

        $("#test-btn").click(function(e) {
            var data = {'ok': 'ok'};
            postUserLog(data);
            e.preventDefault();
        });

    </script>

{% endblock extrajs %}

