{% extends "base_site.html" %}

{% block content %}

    <div class="pull-right">
        {#        <a href="{% url 'quiz_edit' form.quiz.value %}" class="btn btn-info btn-lg" role="button">Edit this quiz</a>#}
        {% include "buttons/back.html" with what="the quizzes" where=back_to_url %}
    </div>

    {% include "snips/../snips/page_header.html" with header_text=form.quiz.name %}

    <form id="form1" method="post" action="{% url 'quiz_take' form.quiz.value %}">
        {% csrf_token %}
        <input type="hidden" id="test_result" name="test_result" value="">
        {{ form.non_field_errors }}
        {# {{ form.id }}#}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="fieldWrapper">
            {{ form.take_type.errors }}
            <label for="id_take_type">Quiz Session Type:</label>
            {{ form.take_type }}
        </div>

        {% if questions %}
            <div class="question_list">
                <ol class="list-group take-questions">
                    {% for question in questions %}
                        {% include "snips/../snips/question.html" %}
                    {% endfor %}
                </ol>
            </div>
        {% else %}
            <p>No questions are available.</p>
        {% endif %}

        <button class="btn btn-default change-submit"
                type="submit" >Submit Quiz</button>
    </form>

    <script>
        // take_type action
        $(document).ready(function() {
            $("#id_take_type").change(function() {
                if ($(this).val() == 'EDIT') {
                    window.location.replace("{% url 'quiz_edit' form.quiz.value %}");
                } else if ($(this).val() == 'STUDY') {
                    window.location.replace("{% url 'quiz_take' form.quiz.value %}");
                }
            });
        });
    </script>

    {% if form.take_type %}
        {% if form.take_type.value == 'STUDY' %}
            {% load static %}
            <script src="{% static "js/check_answers.js" %}"></script>
        {% endif %}
    {% endif %}

{% endblock %}
