{% extends "base_site.html" %}

{% block content %}


    <div class="pull-right">
        <a href="{% url 'quiz_take' quiz.id %}" class="btn btn-info btn-lg" role="button">Take this quiz</a>
    </div>


    {% include "snips/../snips/page_header.html" with header_text="Edit Questions" %}

    {% include "snips/../snips/quiz_header.html" with quiz=quiz %}

    <br/>



    <form id="form1" method="post" action="{% url 'quiz_edit' quiz.id %}">
    {% csrf_token %}
        {{ formset.management_form }}

    {% for form in formset %}

    <div>
    {{ form.id }}
         {{ form.non_field_errors }}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}


    </div>
    {% endfor %}
    </form>



{#    <form id="form1" method="post" action="{% url 'quiz_edit' quiz.id %}">#}
{#        {% csrf_token %}#}
{#        {{ form.non_field_errors }}#}
{##}
{#        {% if formset|length > 5  %}#}
{#            {% include "snips/form_actions.html" with cancel_what="these changes" back_to_url=back_to_url submit_what="these answers" %}#}
{#            <br/>#}
{#            {% include "snips/add_delete.html" with add_what="another question" add_url=add_url back_to_url=back_to_url delete_what="this quiz" delete_url=delete_url %}#}
{#        {% endif %}#}
{##}
{#        <br/>#}
{##}
{#        {{ formset.management_form }}#}
{#        {% for form in formset %}#}
{#            {{ form.id }}#}
{##}
            {#            {% for field in form.visible_fields %}#}
            {#                    {{ field.errors }}#}
            {#            {% endfor %}#}
            {##}
            {#                    {% for field in form.hidden_fields %}#}
            {#                    {{ field.errors }}#}
            {#            {% endfor %}#}
{##}
{##}
{#            <ul>#}
{#                <li>#}
{#                    {% if formset.can_order %}#}
{#                        {{ form.ORDER }}#}
{#                    {% endif %}#}
{#                    {{ form.text }}#}
{##}
{#                    {{ form.answer_type }}#}
{#                    {% if formset.can_delete %}#}
{#                        {{ form.DELETE }} DELETE#}
{#                    {% endif %}#}
{#                    <div>#}
{#                        (<a href="{% url 'answers_edit' form.instance.pk %}">edit answers</a>)#}
{##}
{#                        <ul>#}
{#                            {% for answer in form.instance.answers.all %}#}
{#                                <li>{{ answer.text }}#}
{#                                    {% if answer.correct %}#}
{#                                        (CORRECT)#}
{#                                    {% endif %}#}
{#                                </li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    </div>#}
{#                </li>#}
{#            </ul>#}
{#        {% endfor %}#}
{#        {% include "snips/form_actions.html" with cancel_what="these changes" back_to_url=back_to_url submit_what="these answers" %}#}
{#        <br/>#}
{#        {% include "snips/add_delete.html" with add_what="another question" add_url=add_url back_to_url=back_to_url delete_what="this quiz" delete_url=delete_url %}#}
{#    </form>#}

    <br/>


    <br/>
    <div>
        <a href="{% url 'quiz_take' quiz.id %}" class="btn btn-info btn-lg" role="button">Take this quiz</a>
    </div>

    {% load static %}
    <script src="{% static "js/form_change.js" %}"></script>


{% endblock %}



