<li class="list-group-item" >
    <p class="take-question">
        <span id="{{ question.id }}">
            {% if form.take_type.value == 'EDIT' %}
                <a href="{% url 'question_edit' question.id %}">{{ question }}</a>
            {% else %}
                {{ question }}
            {% endif %}
        </span>
    </p>
    <div class="answer_list take-answers">


        {% if form.take_type %}
            {% if form.take_type.value == 'EDIT' %}
                <ul class="list-group">
                    {% for answer in question.answers.all %}
                        <li class="list-group-item">
                            {{ answer.text }} [{{ answer.correct }}]
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul class="list-group">
                    {% for answer in question.answers.all %}
                        {% if question.ans_type == 'MC' %}
                            <li class="list-group-item">
                                <input class="radio_answer" type="radio"
                                       name="q_id_{{ question.id }}"
                                       value="a_id_{{ answer.id }}"> {{ answer.text }}</li>
                        {% elif question.ans_type == 'FI' %}
                            <li><input type="text"
                                       class="UL_answer"
                                       name="q_id_{{ question.id }}"
                                       value=""
                                       placeholder="Answer">
                                <input type="hidden"
                                       id="ans_{{ question.id }}_hid"
                                       value="{{ answer.text }}">
                            </li>
                        {% else %}
                            <li>{{ question.ans_type }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>

            {% endif %}
        {% endif %}

    </div>

    <div class="answer-div" id="result_{{ question.id }}">
        &nbsp;
    </div>
    <input class="hidden_result" id="hidden_{{ question.id }}" type="hidden" value="">

</li>