<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'scoreboard' %}">Scoreboard</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
            <p class="navbar-text pull-right">
                {% if user.is_authenticated %}
                    <a href="{% url 'user_account' %}">{{ user.username }}</a>
                    [ <a href="{% url 'auth_logout' %}?next=/">logout</a>
                    {% if user.is_superuser %}
                         &nbsp;<a href="{% url 'admin-page' %}">admin</a>
                    {% endif %}
                    ]
                {% else %}
                   [ <a href="{% url 'registration_register' %}">register</a> &nbsp;
{#                     <a href="{% url 'login' %}">login</a>#}
                     <a href="{% url 'auth_login' %}">login</a>
                    ]
                {% endif %}
            </p>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div>