<input id="hidden-userid" type="hidden"
    value="{% if user.is_authenticated %}{{ user.id }} {% else %} 0 {% endif %}">

{#{% if answer_tracking == 'True' %}#}
    <div id="counts" class="pull-right">
        <table>
            <thead>
                <tr><th>Answered by</th><th>Today</th><th>All</th></tr>
            </thead>
            <tbody>
                {% if user.is_authenticated %}
                    <tr><td>You</td>
                        <td id="count-user-today">{{user_today}}</td>
                        <td id="count-user-all">{{user_alltime}}</td></tr>
                {% endif %}
                <tr><td>Everyone</td><td>{{ everyone_today }}</td><td>{{ everyone_alltime }}</td></tr>
            </tbody>
        </table>
    </div>
    <br clear="all">
    <br/>
{#{% endif %}#}