{% extends "base_site.html" %}

{% load humanize %}

{% block title %}About{% endblock %}

{% block content %}

    <h2>developed by</h2>
    <p><a href="http://google.com/+scotthillisme">Scott C. Hill</a></p>
    <br/>
    <h2>technical details</h2>
    <p><a href="https://docs.djangoproject.com/">Django</a> and <a href="https://django-tastypie.readthedocs.org/">Tastypie</a> are used to serve the Clue data.</p>
    <p>The database is <a href="http://www.postgresql.org/">PostgreSQL</a>.</p>
    <p>Raw clue data gathered and parsed with <a href="http://www.crummy.com/software/BeautifulSoup/">BeautifulSoup</a>.</p>
    <p>Uses modularized Javascript components via <a href="http://node.js.org">Node.js</a>, built with <a href="http://browserify.org/">Browserify</a>.</p>
    <p>The Javascript app framework is <a href="http://backbonejs.org/">Backbone.js</a></p>


{% endblock %}

