{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Quiz Site">
    <meta name="author" content="Scott Hill">
    <meta name="google-site-verification" content="1xgfXZvZkdOKr5rpIoS08Kb8nfMvf4u58nimczh3CuQ" />

    <link rel="stylesheet" href="{% static 'external-libs/bootstrap/css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'external-libs/bootstrap/css/bootstrap-theme.css' %}">

    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <link rel="stylesheet" href="{% static 'external-libs/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'external-libs/jquery-ui/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" href="{% static 'external-libs/jquery-ui/jquery-ui.theme.min.css' %}">

{#    <script src="{% static 'lib/jquery.js' %}"></script>#}
{#    <script src="{% static 'lib/jquery-ui/jquery-ui.js' %}"></script>#}

    <!-- Google Analytics-->
    <script src="{% static 'js/tracking.js' %}"></script>

    <title>
        {% block title %}{% endblock %}
    </title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block extra-css %}{% endblock extra-css %}

</head>


<body role="document">

    {% block nav-global %}{% endblock %}

    <div id="content" class="container theme-showcase" role="main">

        {% block messages %}{% endblock messages %}

        {% block content %}{% endblock %}

    </div>

    {% block footer %}{% endblock %}

    <script src="{% static 'external-libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'external-libs/jquery-ui/jquery-ui.js' %}"></script>


    <!-- http://plugins.jquery.com/kbw.countdown/jQuery Countdown -->
    <link rel="stylesheet" href="{% static 'external-libs/jquery.countdown/jquery.countdown.css' %}">
    <script src="{% static 'external-libs/jquery.countdown/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'external-libs/jquery.countdown/jquery.countdown.min.js' %}"></script>




    
    {% block extrajs %}{% endblock extrajs %}

</body>
</html>
