{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Quiz Site">
    <meta name="author" content="Scott Hill">

    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap-theme.css' %}">

    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <link rel="stylesheet" href="{% static 'lib/jquery-ui/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'lib/jquery-ui/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static 'lib/jquery-ui/jquery-ui.theme.css' %}">

{#    <script src="{% static 'lib/jquery.js' %}"></script>#}
{#    <script src="{% static 'lib/jquery-ui/jquery-ui.js' %}"></script>#}

    <!-- Google Analytics-->
    <script src="{% static 'js/tracking.js' %}"></script>

    <title>
        {% block title %}{% endblock %}
    </title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block extra-css %}{% endblock extra-css %}

</head>


<body role="document">

    {% block nav-global %}{% endblock %}

    <div id="content" class="container theme-showcase" role="main">

        {% block messages %}{% endblock messages %}

        {% block content %}{% endblock %}

    </div>


{#    <div id="footer" style="font-size:x-small;margin:20px">#}
{#        Copyright (C) {% now "Y" %}  {{ SITE_NAME }}#}
{#    </div>#}

    {% block extrajs %}

        <script src="{% static 'lib/jquery.js' %}"></script>

        <!-- https://github.com/js-cookie/js-cookie  -->
        <script src="{% static 'lib/js.cookie.js' %}"></script>

        <!-- https://docs.djangoproject.com/en/1.8/ref/csrf/ -->
        <script>
            var csrftoken = Cookies.get('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        </script>


    {% endblock extrajs %}

</body>
</html>
