{% extends 'base_site.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h4 style="font-style:italic;">{{ page_subtitle }}</h4>


    <div id="clues" class="list-group">
        <div id="stats">
            <span>right</span>
            <span id="rights">0</span>
            <span>wrong</span>
            <span id="wrongs">0</span>
        </div>
    </div>

    <script id="clueTemplate" type="text/template">
        <div class="list-group-item">
            <a href="#" class="clue list-group-item">
                <h4 class="list-group-item-heading"><%= category %></h4>
                <p class="list-group-item-text"><%= question %></p>
                <p class="answer list-group-item-text"></p>
            </a>
            <div class="clue-controls">
                <button type="button" class="tellme-btn btn btn-xs btn-primary">Tell Me</button>
                <button type="button" class="guess-btn btn btn-xs btn-primary">Guess</button>
                <input class="guess-text"/>
                <span class="results list-group-item-text"></span>
            </div>
        </div>
    </script>

{% endblock %}

{% load staticfiles %}

{% block extrajs %}
    <!-- backbone, tastypie, underscore -->
    <script src="{% static 'js/lib/underscore-min.js' %}"></script>
    <script src="{% static 'js/lib/backbone.js' %}"></script>
    <script src="{% static 'js/lib/backbone-tastypie.js' %}"></script>

    <script src="{% static 'js/models/clue.js' %}"></script>
    <script src="{% static 'js/collections/clues.js' %}"></script>
    <script src="{% static 'js/views/clue.js' %}"></script>
    <script src="{% static 'js/views/clues.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

{% endblock extrajs %}