{% extends "base_site.html" %}

{% load humanize %}

{% block content %}

{#    <p style="font-style: italic">{{ SITE_NAME }} is a collection of Jeapordy clues.</p>#}

    <div class="jumbotron">
        <p><a href="{% url 'clues-index' %}">All Clues</a></p>
        <p><a href="{% url 'clues-random' %}">Random Clues</a></p>
        <p><a href="{% url 'clue-search' %}">Search</a></p>
    </div>

    <div>
        <p>Database contains {{ clue_count|intcomma }} clues.</p>
    </div>

    <p><a href="{% url 'bbtest' %}">bbtest</a></p>

{% endblock %}

{% block extrajs %}{% endblock extrajs %}
