{% extends "base_site.html" %}


{% block content %}

    <p>Links:</p>
    <ul id="home-links"></ul>

{% endblock %}

{% block extrajs %}

    <script type="text/javascript">
        // Write href code for each url in the list
        $(function() {
            var links_el = $('#home-links');
            var urls = [{% url 'index' %},
                        {% url 'ember-index' %},
                        {% url 'ember-todo' %}];
            for (var i=0; i < urls.length; i++) {
                links_el.append("<li><a href='" + urls[i] + "'>" + urls[i] + "</a></li>");
            }
        });
    </script>

{% endblock extrajs %}