{% extends 'base_site.html' %}

{% block title %}Index{% endblock %}

{% block content %}

    <h4 style="font-style:italic;">{{ page_subtitle }}</h4>

    <div id="clues" class="list-group">
    </div>

    <script id="clueTemplate" type="text/template">
        <a href="#" class="clue list-group-item">
            <h4 class="list-group-item-heading"><%= category %></h4>
            <p class="list-group-item-text"><%= question %></p>
            <p class="answer list-group-item-text"></p>
        </a>
    </script>

{% endblock %}

{% load staticfiles %}

{% block extrajs %}
    <!-- backbone, tastypie, underscore -->
    <script src="{% static 'js/lib/underscore-min.js' %}"></script>
    <script src="{% static 'js/lib/backbone.js' %}"></script>
    <script src="{% static 'js/lib/backbone-tastypie.js' %}"></script>

    <script src="{% static 'js/models/clue.js' %}"></script>
    <script src="{% static 'js/collections/clues.js' %}"></script>
    <script src="{% static 'js/views/clue.js' %}"></script>
    <script src="{% static 'js/views/clues.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

{% endblock extrajs %}