{% extends 'base_site.html' %}
{% load staticfiles %}

{% block title %}Clues Index{% endblock %}

{% block content %}

    <div id="counts" class="pull-right">
        <table>
            <thead>
                <tr><th>Answered by</th><th>Today</th><th>All</th></tr>
            </thead>
            <tbody>
                {% if user.is_authenticated %}
                    <tr><td>You</td><td>{{user_today}}</td><td>{{user_alltime}}</td></tr>
                {% endif %}
                <tr><td>Everyone</td><td>{{ everyone_today }}</td><td>{{ everyone_alltime }}</td></tr>
            </tbody>
        </table>
    </div>
    <br clear="all">
    <br/>


    {#  A view for UserProfile stuff. Not used atm. #}
    <div id="userView"></div>
    <script id="userTemplate" type="text/template">
        <div> [<%= id %>] <%= user.username %> </div>
        <br/>
    </script>


    <div id="clues-view">

        {% if user.is_authenticated %}
            <input id="userid" type="hidden" value="{{ user.id }}">
        {% else %}
            <input id="userid" type="hidden" value="">
        {% endif %}


{#        <div style="margin-bottom: 10px">#}
{#            <div>Answered: <span id="answer-count"></span>#}
{#            </div>#}
{#        </div>#}

        <div id="clues-list-controls">
            <span> Displaying {{ api_limit }} random game show clues. (Refresh for more.)</span>

            <span class="pull-right">
                <input type="text" id="searchText" placeholder="search" />
            </span>
        </div>
        <div id="clues-list" class="list-group"></div>

    </div>


    <div class="modal"></div>


    <script id="clueTemplate" type="text/template">
        <div class="list-group-item">
            <a href="#" class="clue list-group-item">
                <h4 class="list-group-item-heading"><%= category %></h4>
                <p class="list-group-item-text"><%= question %></p>
                <p class="answer list-group-item-text"></p>
            </a>
            <div class="clue-controls">
                <input class="guess-text" placeholder="answer..."/>
                <span class="results list-group-item-text"></span>&nbsp;
                <button type="button" class="tellme-btn btn btn-xs btn-primary">tell me</button>
            </div>
        </div>
    </script>


{% endblock %}


{% block extrajs %}
    <script src="{% static 'js/bundle.js' %}"></script>
{% endblock extrajs %}