{% extends "base_site.html" %}

{% block title %}Scoreboard{% endblock %}

{% block content %}

<div id="counts">
    <table>
        <thead>
        <tr><th></th><th colspan="2">Today</th><th colspan="2">All-Time</th></tr>
        <tr><th>Answered by</th><th>Right</th><th>Wrong</th><th>Right</th><th>Wrong</th></tr>
        </thead>
        <tbody>
        {% if user.is_authenticated %}
            <tr><td>You</td>
                <td id="count-user-today-right">{{user_today_right}}</td>
                <td id="count-user-today-wrong">{{user_today_wrong}}</td>
                <td id="count-user-all-right">{{user_alltime_right}}</td>
                <td id="count-user-all-wrong">{{user_alltime_wrong}}</td>
            </tr>
        {% endif %}
        <tr>
            <td>Everyone</td>
            <td>{{ everyone_today_right }}</td>
            <td>{{ everyone_today_wrong }}</td>
            <td>{{ everyone_alltime_right }}</td>
            <td>{{ everyone_alltime_wrong }}</td>
        </tr>
        </tbody>
    </table>
</div>
<br clear="all">
<br/>
<table>
    <thead>
        <tr>
            <th>user</th>
            <th>correct</th>
            <th>total</th>
            <th>perc</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
           <tr>
               <td>{{ log.userid }}</td>
               <td>{{ log.is_correct_yes }}</td>
               <td style="text-align: right">{{ log.total }}</td>
               <td style="text-align: right">{{ log.percentage }}&percnt;</td>
           </tr>
        {%  endfor %}
    </tbody>
</table>

{% endblock %}

