{% comment %}
    base html template for quizapp
{% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Quiz Site">
    <meta name="author" content="Scott Hill">

    <!-- Bootstrap styles and JQuery -->
    {% include "snips/static_head.html" %}

    {% load staticfiles %}

    <!-- my site default css -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />

    <title>{% block title %}{% endblock %}</title>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body role="document">


{# Navbar in base_site.html #}
{% block nav-global %}{% endblock %}


<div class="container theme-showcase" role="main">

    {# Messages in base_site.html #}
    {% block messages %}{% endblock messages %}

    {# Content #}
    {% block content %}{% endblock %}

</div>


<div id="footer">
    <div class="container">
        <p class="text-muted pull-right">Copyright © {{ SITE_NAME }} 2014</p>
    </div>
</div>


<!-- Bootstrap styles and JQuery -->
{% include "snips/static_foot.html" %}



</body>
</html>